footer.footer
  .footer-wrapper
    .logo-wrapper
      img.footer-logo.footer__logo(src="../img/Logo-footer.svg", alt="Logo")
      p.copyrights &copy; Webim 2008-2017 #[br]Все права защищены.
    .tel-wrapper
      .main-tel
        img.main-tel__img(src="../img/phone.svg", alt="Phone")
        a.main-tel__num(href="tel") +7 (800) 500-49-32
      ul.tel-list
        li.tel-list__item
          p.tel-list__moscow-tel +7 (499) 322-37-54
          p.tel-list__moscow-adress Москва, Серебряническая набержная, 29
        li.tel-list__item
          p.tel-list__spb-tel +7 (812) 385-53-37
          p.tel-list__spb-adress Санкт-Петербург, Чкаловский проспект, 15
    .contacts-wrapper
      p.email-wrapper
        a.email(href="mailto:") contact@webim.ru
      p.email-wrapper
        a.email(href="mailto:") sales@webim.ru
      p.office-hours понедельник - пятница с 10.00 - 18.00
      ul.social-list.footer__social
        li.social-list__item
          a.vkontakte.social-list__link(href="#")
            i.fa.fa-vk
        li.social-list__item
          a.facebook.social-list__link(href="#")
            i.fa.fa-facebook
        li.social-list__item
          a.twitter.social-list__link(href="#")
            i.fa.fa-twitter
        li.social-list__item
          a.scype.social-list__link(href="#")
            i.fa.fa-skype
