header.header
  .header-wrapper
    button.burger
      span.burger__line
      span.burger__line
      span.burger__line

    ul.authorization
      li.authorization__signin
        a(href="#") Вход
      li.authorization__signup
        a(href="#") Регистрация

    nav.nav.header__nav
      ul.nav__list
        li.nav__item
          a.nav__link(href="#") Возможности
        li.nav__item
          a.nav__link(href="#") Тарифы
        li.nav__item
          a.nav__link(href="#") Партнёрам
        li.nav__item
          a.nav__link(href="#") Помощь

    a.logo.header__logo(href="#")
      img.logo__img(src="/img/Logo-header.svg", alt="Logo")
