 .footer {
  background-color: #393F6B;
  color: #FFF;
}

.footer-wrapper {
  max-width: 1668px;
  margin: 0 auto;
  padding: 55px 64px 39px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: start;

  @include media-custom(760px) {
    padding: 0px 34px 8px;
  }
}
.logo-wrapper {
  margin-right: 193px;
  @include media-custom(760px) {
    margin-right: 0px;
  }
}
.footer-logo {
  width: 147px;
  height: 35px;
}

.copyrights {
  margin-top: 19px;
  font-size: 14px;
  line-height: 17px;

  @include media-custom(580px) {
    margin-top: 22px;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: -0.025em;
  }
}

.footer-logo,
.tel-wrapper {
  @include media-custom(760px) {
    @include visually-hidden;
  }
}

.main-tel {
  padding-top: 2px;
  display: flex;
  align-items: center;
}

.main-tel__img {
  width: 32px;
  height: 32px;
}

.main-tel__num {
  padding-left: 10px;
  color: #ffffff;
  border: none;
  font-size: 25px;
}

.tel-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tel-list__moscow-tel,
.tel-list__spb-tel {
  font-size: 20px;
  margin: 16px 0 0 2px;
  letter-spacing: 0.015em;
}
.tel-list__moscow-adress,
.tel-list__spb-adress {
  margin: 5px 0 23px 2px;
  letter-spacing: 0.02em;
}

.contacts-wrapper {
  margin-right: 37px;

  
  @include media-custom(1200px) {
    @include visually-hidden;
  }
}

.email-wrapper {
  margin: 0 0 5px 0;
}

.email {
  color: #ffffff;
  border: none;
  font-weight: 700;
  letter-spacing: -0.01em
}

.office-hours {
  margin: 13px 0 0 0 ;
  letter-spacing: 0.01em
}

.social-list {
  margin-top: 13px;
  list-style: none;
  display: flex;
  padding: 0;
}

.social-list__link {
  color: #ffffff;
  font-size: 21px;
  border: none;
  margin-right: 23px;  
}